root = true

[*]
charset = utf-8
curly_bracket_next_line = false
end_of_line = lf
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[*.vala]
indent_brace_style = K&R
indent_size = 4
indent_style = space
spaces_around_brackets = both
spaces_around_operators = true

[*.py]
indent_style = space
indent_size = 4
